.summary {
  width: 615px;
  height: 520px;
  border-radius: 15px;
  background-color: var(--foreground);
  padding: 20px;
}

.summary > h2 {
  border-bottom: 1px solid lightgray;
}

.itemized {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.itemized > p {
  padding-left: 20px;
}

.device-line {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

@media (width < 672px) {
  .summary {
    width: 100%;
  }
}

@media (width < 440px) {
  .summary {
    height: 500px;
  }

  .itemized {
    padding: 5px;
    padding-top: 20px;
  }

  .itemized > p {
    padding-left: 5px;
  }
}

@media (width < 380px) {
  .summary {
    font-size: .9rem;
  }
}
