.details {
  height: 550px;
  padding: 20px;
  display: flex;
}

.left {
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
}

.left > img {
  width: auto;
  height: 100%;
  margin: 0 0 0 -200px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.right > h2 {
  margin-bottom: 20px;
}

.right > p:last-child {
  margin-top: 20px;
}

/* shift image layout */
@media (width < 560px) {
  .details {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .details > .left {
    width: 100%;
  }

  .left > img {
    margin: 0 0 0 -100px;
  }

  .right > h2 {
    display: none;
  }
}
