.page {
  --background: #000;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #393c41;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  background-color: var(--background);
}

.header {
  width: 100vw;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 48px;
  background-color: var(--foreground);
}

.header > svg {
  width: 120px;
  height: 24px;
  fill: var(--text-secondary);
}

