.device-selector {
  width: 49%;
  height: 80%;
  border-radius: 15px;
  background-color: var(--foreground);
  padding: 20px;
}

.device-selector > h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
